@import "./root.css";

.favorites-page{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.favorites-page h1 {
    text-align: center;
    font: var(--font_title);
    height: 4rem;
}
.favorites-facts-group {
    display: flex;
    justify-content: center;
}

.favorites-facts-group ul li{
    width: 35rem;
    font-size: 1.5rem;
    font: var(--font_fact_text);
    color: var(--color_dark_blue);
    
    background-color: var(--color_light_green);
    padding: 1.5rem;
    list-style-position: inside;
    /* display: flex; */
    border-radius: 1em;
    position: relative;
}
/* i {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
} */
.favorites-facts-group ul i{
    background-color: var(--color_light_green);
    color: var(--color_dark_blue);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.favorites-facts-group ul {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

@media screen and (max-width: 768px) {


    .favorites-page {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
    }
    main {
        width: 100%;
    }
    .favorites-page h1 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        height: 4rem;
        width: 100%;
    }
    .favorites-facts-group {
        width: 100%;
        display: flex;
        flex-direction: start;
        margin-bottom: 3rem;
        justify-content: start;
    }

    .favorites-facts-group ul li{
        font-size: 1.5rem;
        background-color: var(--color_light_green);
        width: 90%;
        /* padding: 2rem; */
        list-style-position: inside;
        /* display: flex; */
        border-radius: 0;
    }
    .favorites-facts-group ul i{
        background-color: var(--color_light_green);
        color: var(--color_dark_blue);
        /* margin-left: 2rem; */
    }
    .favorites-facts-group ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}