@import "./root.css";


footer {
    background-color: #413C58;  
    text-align: center;
    padding: 20px 0; 
    position: fixed;
    bottom: 0; 
    width: 100%;
}

.footer-text {
    font-size: 14px;
    background-color: #413C58; 
    color: #F2E7C9; 
}